// CSS for the AssemblyVideos.tsx component.

@import "scss/variables";

.explore {
  margin: 5em 0 5em;
}

@media screen and (min-width: $breakpoint-medium) {
  .videos {
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 80px;
  }
}
