@import "scss/variables";

.contact_form {
  .doubleFields {
    display: flex;
  }

  .singleField {
    display: flex;
  }

  .field {
    width: 100%;
    padding: 10px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input,
  textarea {
    border: 1px solid;
    border-color: grey;
    padding: 10px 0px 10px 0px;
    width: 100%;
  }
}

@media screen and (max-width: $breakpoint-medium) {
  .contact_form {
    .doubleFields {
      display: block;
    }

    .singleField {
      display: block;
    }

    .field {
      width: auto;
    }
  }
}
