// CSS for the EtsyReviews.tsx component.

@import "scss/variables";

@media screen and (min-width: $breakpoint-medium) {
  .features {
    text-align: center;
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
