// CSS for the index.tsx template.

@import "scss/variables";

.cartButtons {
  display: flex;
  justify-content: space-around;
  width: 250px;
}

@media screen and (min-width: $breakpoint-medium) {
  .productDetail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;

    .productImage,
    .productDetails {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-left: 30px;
    }
  }
}
