// CSS for the index.tsx template.

@import "scss/variables";

#home_hero {
  max-width: 2030px;
  margin: 0 auto;
  padding: 15em 0 10em;
}

.explore {
  margin: 5em 0 5em;
}

.home_content {
  margin-top: 200px;
}

@media screen and (min-width: $breakpoint-medium) {
  #home_hero h1 {
    max-width: 40%; // Reduced from 80% on the front-page only to wrap the headline.
  }

  .bestSeller {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;

    .productImage,
    .productDetails {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }

  .affiliates {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .features {
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .feature {
      img {
        width: 100%;
        max-height: 290px;
      }
    }
  }

  .images {
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #post_list :global(.posts) {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
