// CSS for the index.tsx template.

@import "scss/variables";

@media screen and (min-width: $breakpoint-medium) {
  .products {
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 80px;

    .product {
      .productImage {
        max-height: 500px;
        overflow: hidden;
      }
      img {
        width: 100%;
        object-position: top left;
        object-fit: cover;
      }
    }
  }
}
